/* fonts */
@font-face {
    font-family: "roboto-regular";
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "roboto-bold";
    src: url(./fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "libreBaskerville-regular";
    src: url(./fonts/LibreBaskerville-Regular.ttf) format('truetype');
}


html {
    font-family: "roboto-regular";
    font-size: 62.5%;
}

body{
    margin: 0;
}
p {
    line-height: 2.5rem;
}

span {
    line-height: 2rem;
}

.app{
    background-image: linear-gradient(to top right, #1670f7, #11cbd7 72%);
    background-attachment: fixed;
}
.app .grommet{
    background-color: transparent;
}

