//breakpoints
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop-m: 1024px;
$laptop-l: 1440px;
$laptop-xl: 2560px;


/* fonts */
@font-face {
    font-family: "roboto-regular";
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "roboto-bold";
    src: url(./fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "libreBaskerville-regular";
    src: url(./fonts/LibreBaskerville-Regular.ttf) format('truetype');
}

/* typography */
html {
    font-family: "roboto-regular";
    font-size: 62.5%;
}
body{
    margin: 0;
}
.app{
    background-image: linear-gradient(to top right, #1670f7, #11cbd7 72%);
    background-attachment: fixed;
    .grommet{
        background-color: transparent;
    }
}
p {
    line-height: 2.5rem;
}

span {
    line-height: 2rem;
}

/* responsive */


@media screen and (min-width : $tablet) {

    .about-me {
        columns: 30rem 4;
    }

    .project-details-modal {
        width: 65%;
    }
}

@media screen and (min-width : $laptop-m) {
    .project-details-modal {
        width: 50%;
    }
}