$white : #fff;
$blue: #1670f7;


/* first card has a specific design */
.card_character {
    font-size: 1.4rem;
    margin: 2rem 0;

    border-radius: 0.3rem;
    background-color: $white;
    box-shadow: 0 0.8rem 3rem -0.6rem rgba(0, 0, 0, 0.3);
}
.card_character {
    padding:1rem 2rem 1rem 1rem;
    .container {
        display: flex;
        align-items: flex-start;

        span {
            margin-left: 1.5rem;
            align-self: center;
            font-weight: 600;
        }
    }

    .profile-picture {
        width: 10rem;
    }

    &--facts {
        list-style-type: none;

        li {
            line-height: 2rem;

            &::before {
                content: " ";
                height: 0.2rem;
                background-color: $blue;
                font-size: 2rem;
                font-weight: bold;
                display: inline-block;
                width: 2.5rem;
                margin-left: -3rem;
            }
        }

    }
}
