$blue: #1670f7;
$white : #fff;

.contact{
	box-sizing: border-box;
	width: 100%;
	background-color: $white;
	padding: 10rem 1rem;
	margin: 0;
	text-align: center;
	h2{
		font-size: 2rem;
		margin-bottom: 3rem;
		color: $blue;
		max-width:100%;
	}
	.button-wrapper{
		display: flex;
		justify-content: center;
		text-decoration: none;
		a{
			text-decoration: none;
			color: $blue	;
			margin: 0 2rem;
			&:focus {
        outline: 0.1rem dashed $blue;
        outline-offset: 0.2rem;
    }
		}
		.button-icon{
			display: block;
			margin: 0.5rem auto;
			width: 5rem;
		}
		.button-link-text{
			text-decoration: none;
		}
	}
}