$accent-1: #1670f7;

.header {
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    .logo{
    	font-weight: 700;
    	max-width: 7rem;
    }

    .button-wrapper {
        display: flex;
        justify-content: center;
        text-decoration: none;

        a {
            text-decoration: none;
            color: $accent-1;
            margin: 0 1rem;

            &:focus {
                outline: 0.1rem dashed $accent-1;
                outline-offset: 0.2rem;
            }
        }

        .button-icon {
            display: block;
            margin: 0.5rem auto 0;
            width: 2.5rem;
        }

        .button-link-text {
            font-size: 1.4rem;
        }
    }
}