//breakpoints
$azure: #03CCF7;
$blue: #1670f7;
$pink: #F60C86;
$yellow: #FFCC00;
$dark-gray : #3B3838;
$white : #fff;
$black : #000;
$primary-color: $azure;
$secondary-color: $pink;

/* my work section */
.work {
    padding: 2rem;
    columns: 25rem 4;
    column-gap: 3rem;
}
/* cards */
.card{
    font-size: 1.4rem;
    margin: 2rem 0;

    border-radius: 0.3rem;
    background-color: $white;
    box-shadow: 0 0.8rem 3rem -0.6rem rgba(0, 0, 0, 0.3);

    display: inline-block;
    padding: 1.5rem 2rem;
    width: calc(100%- 4rem);
    position: relative;
    clear: both;
    text-decoration: none;

    &_img--main {
        display: block;
        width: calc(100% + 4rem);
        margin-left: -2rem;
        margin-top: -1.5rem;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }

    h3 {
        margin: 2rem 0 0.5rem;
        text-transform: uppercase;
        color: $pink;
        font-weight: 700;
        font-size: 1.4rem;
    }

    &_desc_hashtags {
        color: $white;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 1rem 0;

        .hashtag--language,
        .hashtag--task {
            display: inline-block;
            border-radius: 0.3rem;
            padding: 0.3rem 1rem;
            margin-right: 0.5rem;
            margin-top: 0.5rem;
        }

        .hashtag--language {
            background-color: $azure;
        }

        .hashtag--task {
            background-color: $pink;
        }
    }

    &_job {
        color: $dark-gray;
    }

}