$white : #fff;


.intro {
    padding: 5rem;
    color: $white;

    h1 {
        font-family: "libreBaskerville-regular";
        position: relative;
        font-weight: normal;
        font-size: 4rem;
        margin-bottom: 5rem;

        &::after {
            content: " ";
            position: absolute;
            left: calc(50% - 2.5rem);
            left: 0;
            bottom: -2.5rem;
            width: 4rem;
            height: 0.3rem;
            background-color: $white;
        }
    }

    p {
        margin-bottom: 5rem;
    }

    .button-wrapper {
        width: 100%;
    }

    .btn-white {
        display: block;
        margin-bottom: 2rem;
    }

    .next {
        display: block;
        margin-top: 10rem;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            width: 2.5rem;
        }
    }
}

